.gsc_alignRight { text-align: right; }
.gsc_hidden { display:none; }
.gsc_green_bkgd { background-color: #CAFF33; }
.gsc_green { color: green; }
.gsc_fullHeight { font-size: 4vh }
.gsc_moreHeight { height: 6vh; font-size: 4vh }
.gsc_noPadding { padding: 0px; }
.gsc_tapEntry { width: 50px; }

    © 2020 GitHub, Inc.
    Terms
    Privacy
    Security
    Status
    Help

